  <!DOCTYPE html>
  <html>
    <head>
        <link rel="stylesheet" type="text/css" href="imagen.css">
        <title></title>
    <style>
        .container {
          max-width: 800px;
          margin: 0 auto;
          padding: 20px;
          background-color: rgba(255, 255, 255, 0.8);
          text-align: center;
        }
        h1 {
          color: #333;
        }
        p {
          color: #666;
          line-height: 1.6;
        }
      </style>
    </head>

    <body>
    <img src="foto.jpg" width="" alt="">
      <div class="container">
        <h1>La Clínica Santa Fe</h1>
        <p>
          La Clínica Santa Fe es un centro médico de renombre en la hermosa
          ciudad de Santa Fe, Argentina. Nuestro compromiso es brindar atención
          médica de calidad y compasión a todos nuestros pacientes.
        </p>
        <p>
          En nuestra clínica, contamos con un equipo de especialistas altamente
          capacitados en diversas áreas médicas, incluyendo cardiólogos,
          pediatras, ginecólogos, oncólogos, cirujanos y muchos más. Nuestros
          médicos se dedican a ofrecer el mejor cuidado posible a cada paciente,
          combinando su experiencia y conocimientos con un enfoque humano y
          empático.
        </p>
        <p>
          Además de nuestros especialistas, nos enorgullece el trato cálido y
          respetuoso que brindamos a cada persona que ingresa a nuestras
          instalaciones. Entendemos que la atención médica no solo se trata de
          curar enfermedades, sino también de brindar apoyo emocional y
          tranquilidad a nuestros pacientes y sus familias.
        </p>
        <p>
          Si estás en Santa Fe y necesitas atención médica de confianza, te
          invitamos a visitar la Clínica Santa Fe. Estaremos encantados de
          cuidar de ti y ayudarte en tu camino hacia una vida más saludable.
        </p>
      </div>
    </body>
  </html>
</html>
